*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 100%;
	color: #333;
}
html, body{
	width: 100%;
	height: 100%;
	min-height: 800px;
}
ul, ol, li{
	list-style-type: none;
}
h1{
	display: inline-block;
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 2rem;
}
h2{
	display: inline-block;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.5rem;
}
button{
	border: none;
	display: inline-block;
	padding: 7px 14px;
	background-color: transparent;
	cursor: pointer;
}
main{
	position: relative;
	height: 100%;
	background-color: black;
	width: 1280px;
	margin: 0 auto;
}
.grid{
	position: absolute;
	top: 50%;
	margin-top: -360px;
	height: 720px;
	width: 100%;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
#start{
	height: 100%;
}

#home .banner{
	width: 100%;
	height: 460px;
	background: url('../img/bg.jpg') center;
	background-size: cover;
}
#home .options{
	margin-top: 30px;
	text-align: center;
}
#home .options button{
	font-size: 1.5rem;
	color: #ccc;
	margin-top: 10px;
	transition: all .3s ease;
}
#home .options button:hover{
	color: #50c7fe;
	text-shadow: 0 0 25px #50c7fe;
}
#hero-selection{
	width: 100%;
	height: 100%;
	background-color: #ffc8b9;
	display: inline-block;
	position: relative;
}
#hero-selection .options{
	border: 2px solid #333;
    padding: 15px;
    margin: 30px;
    border-radius: 6px;
}
#hero-selection .options li{
	float: left;
	width: 50%;
}
#hero-selection .options li a{
	display: inline-block;
	color: #333;
	width: 100%;
	transition: all .3s ease;
	padding: 10px 0;
}
#hero-selection .options li a:hover{
	color: white;
}
#hero-selection .options li .lord-name,
#hero-selection .options li .city{
	float: left;
}
#hero-selection .options li .lord-name{
	width: 100px;
}
.profiles{
	margin: 30px;
	position: absolute;
	bottom: 30px;
	border: 2px solid #333;
	border-radius: 6px;
	width: calc(100% - 60px);
}
.profiles .profile{
	margin: 15px;
}
.profiles .profile .profile-image,
.profiles .profile .profile-info,
.profiles .profile .profile-props{
	float: left;
}
.profiles .profile .profile-image .image{
	border: 2px solid #333;
	border-radius: 6px;
	width: 100px;
	height: 100px;
}
.profiles .profile .profile-image p{
	margin: 5px;
	text-align: center;
}
.profiles .profile .profile-info{
	width: 200px;
	padding: 5px 20px;
}
.profiles .profile .profile-info>div{
	margin-bottom: 2px;
	font-size: .75rem;
}
.profiles .profile .profile-info .title{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.profiles .profile .profile-info .weapon,
.profiles .profile .profile-info .armor{
	padding-left: 20px;
}
.profiles .profile .profile-props{
	width: calc(100% - 300px);
	font-size: 1.5rem;
	line-height: 2rem;
}
.profiles .profile .profile-props li{
	float: left;
	width: 33%;
	text-align: center;
	padding: 8px;
}
#map{
	height: 100%;
	position: relative;
}
#map .map{
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background: url('../img/map.png');
}

#map .map li{
	position: absolute;
	width: 16px;
	height: 16px;
}
#map .map li.large{
	width: 22px;
	height: 22px;
}
#map .map li .content{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: relative;
	z-index: 5;
	cursor: pointer;
	box-shadow: 0 0 10px #000;
}
#map .map li .shine{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
#map .map li.active .shine{
	animation: city 1s infinite;
}

#map .map li .content .label{
    border-radius: 2px;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,.8);
    padding: 4px;
    width: 60px;
    text-align: center;
    left: -24px;
    font-size: 14px;
    top: -33px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 7px #fff;
	cursor: pointer;
	opacity: 1;
	transform: rotateY(90deg);
	transition: all .3s ease;
}
#map .map li .content .large-city{
	background-color: white;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 4px;
	left: 4px;
	position: absolute;
	display: none;
}
#map .map li.large .content .large-city{
	display: block;
}

#map .map li.active .content .label{
	opacity: 1;
	transform: rotateY(0deg);
}

#map .map li.large .content .label{
    left: -20px;
}

@keyframes city{
	from{
		opacity: 1;
		transform: scale(1);
	}
	to{
		opacity: 0;
		transform: scale(2);
	}
}

.dialog{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
}
.dialog .battleDialog, 
.dialog .mapDialog{
	display: none;
}
.dialog .battleDialog.active, 
.dialog .mapDialog.active{
	display: block;
}
.date,
.dialog .mapDialog .msg-dialog,
.dialog .mapDialog .msg-aside{
	position: absolute;
	border: 2px solid #333;
	background-color: #ffc8b9;
	opacity: .97;
	border-radius: 4px;
	padding: 15px;
	transition: all .3s ease;
	left: 20px;
	top: 20px;
}
.date{
	width: 260px;
	text-align: center;
	font-size: 1.25rem;
	z-index: 500;
}
.date.left{
	left: 1000px;
}
.date.top{
	top: 650px;
}
.dialog .mapDialog .msg-aside{
	width: 300px;
	height: 450px;
}
.dialog .mapDialog .msg-dialog{
	width: calc(100% - 40px);
	height: 220px;
}
.dialog .mapDialog.top .msg-aside{
	top: 255px;
}
.dialog .mapDialog.right .msg-aside{
	left: 960px;
}
.dialog .mapDialog.bottom .msg-dialog{
	top: 485px;
}
.dialog .counsellor{
	float: right;
	margin-top: 12px;
}
.dialog .city-info{
	margin-top: 20px;
}
.dialog .city-info li{
	margin: 10px 0;
	font-size: 1.25rem;
	line-height: 1.5rem;
	padding-left: 5px;
}
.dialog .msg-body{
	padding: 5px 10px;
	text-align: center;
}
.dialog .operations * {
	transition: all .3s ease;
}
.dialog .operations .main-nav li{
	float: left;
	width: 25%;
	text-align: center;
	cursor: pointer;
}
.dialog .operations .main-nav .title{
	margin-top: 10px;
}
.dialog .operations .main-nav .opts-icon{
	display: inline-block;
	border: 2px solid #333;
	border-radius: 4px;
	width: 120px;
	height: 120px;
	margin-top: 10px;
}
/*bg-color: #ffc8b9;*/



























