/******************* Colors *******************/

$black: #000;
$white: #fff;
$text: #494949;
$pink: #ffcec5;


$ce: #bdbd00;
$bei: #191919;
$teng: #b53121;
$zhuo: #ececec;
$cao: #42de84;
$shao: #b53121;
$zhang: #342796;
$biao: #7deced;
$zan: #fd3b48;
$jiao: #d5c831;
$shu: #d94aee;
$lu: #5bb37d;

$white20: rgba(255,255,255,.2);






/******************* Shapes *******************/

$radius: 4px;


/******************* Others *******************/

$border: 1px solid $text;
$transition: all .3s ease;